
.back-link {
    font-size: 18px;
    color: #007BFF;
    text-decoration: none;
    padding: 10px;
    display: block;
    margin: 20px 0;
    text-align: center;
}


.blinking-text {
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 50px;
}


@keyframes backgroundBlink {
    0% { background-color: #FF5733; }
    25% { background-color: #33FF57; }
    50% { background-color: #3357FF; }
    75% { background-color: #FFFF33; }
    100% { background-color: #FF33FF; }
}


body {
    animation: backgroundBlink 2s infinite;
    transition: background-color 0.5s ease;
}
